* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(231, 206, 177);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 15px;
}